body {
  background-color: #010165;
  margin: 0px;
}

.header {
  background: #00ffff;
  text-align: center;
}

.door-row {
  text-align: center;
}

.door-frame {
  cursor: pointer;
  padding: 10px;
}

.title-row {
  text-align: center;
  margin-top: 42px;
  margin-bottom: 21px;
}

.instructions-title {
  display: inline;
  font-family: 'Work Sans';
  font-size: 18px;
  color: #00ffff;
}

.instructions-row {
  margin: 0 auto;
  width: 400px;
  padding: 10px;
  font-size: 14px;
  font-family: 'Work Sans';
  color: #00ffff;
}

.instructions-number {
  padding-right: 25px;
  font-family: 'Work Sans';
  font-size: 36px;
  color: #00ffff;
}

.start-now {
  margin: auto;
  width: 120px;
  height: 43px;
  font-family: 'Work Sans';
  background-color: #eb6536;
  padding-top: 18px;
  font-size: 18px;
  text-align: center;
  color: #010165;
  margin-bottom: 21px;
  cursor: pointer;
}

.score {
  justify-content: center;
  display: flex;
  font-family: 'Work Sans';
  font-size: 18px;
  color: #00ffff;
}

.streak, .longest {
  padding: 0 20px 0 20px;
}

.streak-number {
  height: 80px;
  width: 70px;
  background-color: #00ffff;
  color: black;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
